<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!--WIF 4.5 sections -->
    <section name="system.identityModel" type="System.IdentityModel.Configuration.SystemIdentityModelSection, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SealTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>

  <!--<system.diagnostics>
    <sources>
      <source name="System.ServiceModel.MessageLogging" switchValue="Warning,ActivityTracing">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="ServiceModelMessageLoggingListener">
            <filter type="" />
          </add>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="C:\CSharps\Seal.net\trunk\modules\Seal2\4.5\SealTest\app_messages.svclog"
          type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
          name="ServiceModelMessageLoggingListener" traceOutputOptions="Timestamp">
        <filter type="" />
      </add>
    </sharedListeners>
  </system.diagnostics>-->

  <!--<system.diagnostics>
    <sources>
      <source name="System.Security.Cryptography.Xml.SignedXml"
              switchName="XmlDsigLogSwitch">
        <listeners>
          <add name="logFile" />
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="XmlDsigLogSwitch" value="Verbose" />
    </switches>
    <sharedListeners>
      <add name="logFile"
           type="System.Diagnostics.TextWriterTraceListener"
           initializeData="XmlDsigLog.txt"/>
    </sharedListeners>
    <trace autoflush="true">
      <listeners>
        <add name="logFile" />
      </listeners>
    </trace>
  </system.diagnostics>-->

  <system.serviceModel>

    <diagnostics>
      <messageLogging logEntireMessage="true" logMalformedMessages="true" logMessagesAtServiceLevel="false" logMessagesAtTransportLevel="true"/>
    </diagnostics>

    <bindings>
      <basicHttpBinding>
        <binding name="MedicineCardBinding">
          <security mode="Transport" />
        </binding>
        <binding name="MedicineCardBindingSoap" />
        <binding name="SosiGWSoapBinding" />
        <binding name="SosiGWSoapBinding1" />
        <binding name="NTSSoapBinding" />
        <binding name="MedicineCardBinding1">
          <security mode="Transport" />
        </binding>
        <binding name="MedicineCardBinding2" />
        <binding name="NTSSoapBinding1" />
      </basicHttpBinding>
      <customBinding>
        <binding name="Soap11Http">
          <textMessageEncoding messageVersion="Soap11WSAddressing10" writeEncoding="utf-8" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>

    <client>
      <endpoint address="http://test2.ekstern-test.nspop.dk:8080/sts/services/OIOSaml2Sosi"
        behaviorConfiguration="SealSigning" binding="basicHttpBinding"
        contract="System.ServiceModel.Security.IWSTrustChannelContract"
        name="sts_OIOSaml2Sosi" />
      <endpoint address="http://test2.ekstern-test.nspop.dk:8080/sts/services/Sosi2OIOSaml"
        behaviorConfiguration="SealSigning" binding="customBinding"
        bindingConfiguration="Soap11Http" contract="System.ServiceModel.Security.IWSTrustChannelContract"
        name="sts_Sosi2OIOSaml" />
      <endpoint address="http://test2.fmk.netic.dk/fmk12/ws/MedicineCard"
        behaviorConfiguration="sealbehavior" binding="basicHttpBinding"
        bindingConfiguration="MedicineCardBindingSoap" contract="MedicineCardService.MedicineCardPortType"
        name="FMKTestEnv" />
      <endpoint address="http://localhost:1010/FMK" behaviorConfiguration="AddressingBehavior"
        binding="customBinding" bindingConfiguration="Soap11Http" contract="System.ServiceModel.Security.IWSTrustChannelContract"
        name="SosiGW" />
      <endpoint address="http://localhost:1010/FMK" behaviorConfiguration="sealbehavior"
        binding="customBinding" bindingConfiguration="Soap11Http" contract="dk.nsi.fmk.MedicineCardPortType"
        name="localFMK" />
      <endpoint address="https://triforkfaellestest.lms.trifork.com/fmk12/ws/MedicineCard"
        behaviorConfiguration="AddressingBehavior" binding="customBinding"
        bindingConfiguration="Soap11Http" contract="dk.nsi.fmk.MedicineCardPortType"
        name="SosiGWFMK" />
      <endpoint address="http://test2.ekstern-test.nspop.dk:8080/sts/services/Sosi2OIOSaml"
        behaviorConfiguration="AddressingBehavior" binding="customBinding"
        bindingConfiguration="Soap11Http" contract="System.ServiceModel.Security.IWSTrustChannelContract"
        name="GWFetchCard" />
      <endpoint address="http://test2.ekstern-test.nspop.dk:8080/sosigw/service/sosigw"
        binding="basicHttpBinding" contract="SosiGWReference.SosiGWFacade" />
      <endpoint address="https://test1.fmk.netic.dk/fmk12/ws/medicinecard"
        binding="basicHttpBinding" bindingConfiguration="MedicineCardBinding1"
        contract="MedicineCardService.MedicineCardPortType" name="MedicineCardPort" />
      <endpoint address="http://test2.ekstern-test.nspop.dk:8080/nts/service"
        binding="basicHttpBinding" bindingConfiguration="NTSSoapBinding1"
        contract="NSTWsProvider.NtsWSProvider" name="ntsPort" />
    </client>

    <services>
      <service name="SealTest.FMKService.FMK">
        <endpoint address="" binding="customBinding" bindingConfiguration="Soap11Http" behaviorConfiguration="sealbehavior" contract="dk.nsi.fmk.service.MedicineCardPortType" name="FMK"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:1010/FMK"/>
          </baseAddresses>
        </host>
      </service>
    </services>

    <behaviors>

      <endpointBehaviors>

        <behavior name="sealbehavior">
          <sbhe/>
        </behavior>

        <behavior name="SealSigning">
          <SealSigningBE/>
        </behavior>

        <behavior name="AddressingBehavior">
          <clientVia viaUri="http://test2.ekstern-test.nspop.dk:8080/sosigw/proxy/soap-request"/>
        </behavior>
      
      </endpointBehaviors>

      <serviceBehaviors>
        <behavior name="SealServiceBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>

    </behaviors>

    <extensions>
      <behaviorExtensions>
        <add name="sbhe" type="dk.nsi.seal.SealBehaviorExtentionElement, Seal"/>
        <add name="SealSigningBE" type="dk.nsi.seal.SealSigningBehaviorExtentionElement, Seal"/>
      </behaviorExtensions>
    </extensions>

  </system.serviceModel>

  <applicationSettings>
    <SealTest.Properties.Settings>
      <setting name="KeyExchangeSosi2OIOSamlAddress" serializeAs="String">
        <value>http://test2.ekstern-test.nspop.dk:8080/sts/services/Sosi2OIOSaml</value>
      </setting>
      <setting name="SecurityTokenService" serializeAs="String">
        <value>http://test2.ekstern-test.nspop.dk:8080/sts/services/NewSecurityTokenService</value>
      </setting>
    </SealTest.Properties.Settings>
  </applicationSettings>

  <appSettings>
    <add key="sosi:issuer" value="AppSettingIssuer"/>
    <add key="credentialVault:alias" value="AppSettingAlias"/>
    <add key="CheckDate" value="false"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/></startup></configuration>
